@import '../assets/styles.scss';

.column {
}

.menu {
   padding-bottom: 10rem;
   height: auto;
   border: solid 0.1rem $primary;

   //    border-bottom-right-radius: 1rem;
}

.listitem {
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-bottom: solid 0.1rem $primary;
   //    border-right: solid 2px $primary;
   text-align: left;
   font-weight: bold;
}
